<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ICurrencyService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://www.restfulwebservices.net/wcf/CurrencyService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICurrencyService"
        contract="RestfulWebServices.ICurrencyService" name="BasicHttpBinding_ICurrencyService" />
    </client>
  </system.serviceModel>
</configuration>
